{% extends 'base.html' %}
    {% block body %}
    {% load static %}
    <style>
      
    
    </style>
    <div style="margin-left:31% ;margin-top: 10%;">
    <div class="m-0" style="width: 50%;">
        <h6  class="bg-info text-light p-2 m-0">Company Price Levels</h6>

        <form id="form" action="price_levels" method="post" class="p-5" style="background-color:rgba(0,0,0,.4);">
            {% csrf_token %}


        <div class="row container-fluid  p-2 m-0">
            
            <div class="col-sm-8 m-0 p-0"><input   type="number" class="custom-select-md form-control" id="a" 
             name="number"  autocomplete="off" style="width: 70%;"></div>
            
        </div>

        <div class="row container-fluid  p-2 m-0">

            <table id="t1">
              
                
                <thead>
                    <tr>
                        <th>
                            Values
                        </th>
                        
                        
                    </tr>
                </thead>
                <tbody id="TableBody">  
                </tbody>
            </table>
            
            
        </div>

        
       
        <input type="button" class="btn btn-secondary" onClick="insertData()" value="Add" >
        
        <input type="Submit" class="btn btn-info w-15"  value="Submit" style="margin-left: 20%;">
        </form>

    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script language="javascript">
            


        function insertData() {
            $("#TableBody").html($("#TableBody").html() + "<tr><td>" + $("#a").val() + "<td><tr>");
        }

      

    </script>


    
{% endblock %}